footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

.footer-privacy-policy {
  font-size: 24px;
}

.footer-website-title {
  font-size: 78px;
}

.footer-reserved-rights {
  font-size: 24px;
}