* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  height: 60px;
  margin-top: 4px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  border-bottom: 2px solid rebeccapurple;
}

ul .nav-menu {
  width: 45px;
  height: auto;
  margin-left: 8px;
}

ul .nav-sidrologo {
  width: 60px;
  height: auto;
}

ul .nav-userlogo {
  width: 35px;
  height: auto;
  margin-right: 10px;
}

.page-utilities {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.filter-sort-button-filter, .filter-sort-button-sort {
  width: 25px;
  height: auto; 
}

.filter-sort-button-filter-icon {
  width: 30px;
  height: auto;
}

.toggle-container {
  /* display: flex; */
  margin-bottom: 20px; 
}

.toggle-button {
  background-color: gold;
  border: none;
  width: 100px;
  text-align: center;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-button.active {
  background-color: aquamarine; 
}

.content-section {
  display: none;
}

.content-section.active {
  display: block;
}
