@font-face {
  font-family: 'webpixel-bitmap.regular';
  src: url('../../assets/fonts/webpixel-bitmap-family/webpixel-bitmap.regular.otf');
}

@font-face {
  font-family: 'webpixel-bitmap.black';
  src: url('../../assets/fonts/webpixel-bitmap-family/webpixel-bitmap.black.otf');
}

@font-face {
  font-family: 'webpixel-bitmap.bold';
  src: url('../../assets/fonts/webpixel-bitmap-family/webpixel-bitmap.bold.otf');
}

@font-face {
  font-family: 'webpixel-bitmap.light';
  src: url('../../assets/fonts/webpixel-bitmap-family/webpixel-bitmap.light.otf');
}

@font-face {
  font-family: 'webpixel-bitmap.medium';
  src: url('../../assets/fonts/webpixel-bitmap-family/webpixel-bitmap.medium.otf');
}

* {
  box-sizing: border-box;
  font-family: 'webpixel-bitmap.regular', 'Courier New', monospace;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 25vh 50vh 25vh;
}

footer {
  grid-area: 3 / 1 / span 1 / span 1;
}

.elements {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 1fr auto 1fr;
  grid-auto-rows: 25vh;
  align-items: end;
}

.elements-website-title {
  grid-column: 2;
  font-size: 78px; 
  margin-bottom: 15px;
}

.elements-privacy-policy, .elements-reserved-rights {
  text-align: center; 
  margin: 0 auto;
  position: relative;
  margin-bottom: 15px;
}

.elements-privacy-policy::after, .elements-reserved-rights::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 50%;  
  background: black;
  border: 1px solid black;
  border-radius: 110px;
  transform: translateX(-50%);
}