/* -------------------------------------------------------------------------- */
/*                         BEGIN Define font families                         */
/* -------------------------------------------------------------------------- */
@font-face {
  font-family: "webpixel-bitmap.regular";
  src: url("../../assets/fonts/webpixel-bitmap-family/webpixel-bitmap.regular.otf");
}

@font-face {
  font-family: "webpixel-bitmap.black";
  src: url("../../assets/fonts/webpixel-bitmap-family/webpixel-bitmap.black.otf");
}

@font-face {
  font-family: "webpixel-bitmap.bold";
  src: url("../../assets/fonts/webpixel-bitmap-family/webpixel-bitmap.bold.otf");
}

@font-face {
  font-family: "webpixel-bitmap.light";
  src: url("../../assets/fonts/webpixel-bitmap-family/webpixel-bitmap.light.otf");
}

@font-face {
  font-family: "webpixel-bitmap.medium";
  src: url("../../assets/fonts/webpixel-bitmap-family/webpixel-bitmap.medium.otf");
}
/* -------------------------------------------------------------------------- */
/*                          END Define font families                          */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                              BEGIN Style body                              */
/* -------------------------------------------------------------------------- */
* {
  box-sizing: border-box;
  font-family: "webpixel-bitmap.regular", "Courier New", monospace;
  margin: 0;
  padding: 0;
  font-size: 10px;
}
/* -------------------------------------------------------------------------- */
/*                               END Style body                               */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                      BEGIN Style friend request popup                      */
/* -------------------------------------------------------------------------- */
.popup__friend-request {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 7px;
  background-color: #ffefdc;
  width: 40%;
  height: 80%;
  overflow-y: auto;
}

.popup__friend-request::backdrop {
  backdrop-filter: blur(2px);
}

.popup__header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  margin: 2% 0;
}

.popup__header__text {
  grid-column: 2;
  font-size: 4rem;
  text-align: center;
}

.popup__close {
  cursor: pointer;
  background: none;
  border: none;
  align-self: center;
  justify-self: end;
  margin-right: 10%;
}

.popup__close__icon {
  width: 100%;
  height: 100%;
}

.popup__request__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 2rem;
}

.popup__user-icon {
  width: 40%;
  height: 40%;
  margin: 3%;
}

.popup__request__author {
  font-size: 2.5rem;
  margin: 3% 0;
  color: inherit;
  text-decoration: none;
}

.popup__request__author:hover {
  color: #660b42;
}

.popup__request__approval {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 3% 0;
}

.popup__request__button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}
/* -------------------------------------------------------------------------- */
/*                       END Style friend request popup                       */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                         BEGIN Style add post popup                         */
/* -------------------------------------------------------------------------- */
.popup__add-post {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 7px;
  background-color: #ffefdc;
  width: 40%;
  height: 80%;
  overflow-y: auto;
}

.popup__add-post::backdrop {
  backdrop-filter: blur(2px);
}

.popup__post__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popup__game__title {
  margin-top: 5%;
  width: 70%;
  font-size: 2rem;
  padding: 1% 2%;
  border: none;
  background-color: #ecdcb0;
  box-shadow: 0 2px 2px 2px #fad8d6;
  border-radius: 110px;
  resize: none;
  outline: none;
  color: black;
}

.popup__game__title::placeholder {
  opacity: 0.7;
  color: black;
}

.popup__post__description {
  margin-top: 5%;
  width: 70%;
  font-size: 2rem;
  padding: 1% 2%;
  border: none;
  background-color: #ecdcb0;
  box-shadow: 0 2px 2px 2px #fad8d6;
  border-radius: 7px;
  resize: none;
  outline: none;
  color: black;
}

.popup__post__description::placeholder {
  opacity: 0.7;
  color: black;
}

#photo__path {
  margin-top: 1rem;
  font-size: 2rem;
  color: rgb(64, 64, 64);
}

.post__content-image {
  width: 200px;
  height: 200px;
  margin-right: 5px;
}

.popup__post__share {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.popup__post__button {
  border: none;
  background: none;
  margin: 0 1%;
  cursor: pointer;
}

.post__button--attach {
  background: #dcc88f;
  box-shadow: 0 2px 2px 2px #a59132;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.post__button--share {
  background: #dcc88f;
  box-shadow: 0 2px 2px 2px #a59132;
  width: 19rem;
  height: 5rem;
  border-radius: 110px;
  font-size: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.popup__post__share__icon {
  margin-right: 5%;
}
/* -------------------------------------------------------------------------- */
/*                          END Style add post popup                          */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                          BEGIN Style search popup                          */
/* -------------------------------------------------------------------------- */
.popup-search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 7px;
  background-color: #ffefdc;
  width: 60%;
  height: 90%;
  overflow-y: auto;
}

.popup-search::backdrop {
  backdrop-filter: blur(2px);
}

.header--search {
  margin: 1% 0;
}

.close--search {
  margin-right: 4%;
}

.popup-search__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popup-search__search-bar {
  background-color: #dcc88f;
  border-radius: 110px;
  padding: 0.8% 1%;
  width: 50%;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.popup-search__label {
  display: block;
  position: relative;
  width: 6rem;
  height: 3rem;
  background-color: #fad8d6;
  border-radius: 2.5rem;
  border: none;
  cursor: pointer;
}

.popup-search__toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

.popup-search__slider {
  position: absolute;
  width: 6rem;
  height: 3rem;
  top: 0;
  left: 0;
  border-radius: 2.5rem;
  transition: background-color 0.3s ease-in-out;
}

.popup-search__toggle:checked + .popup-search__slider {
  background-color: #1326d4;
}

.popup-search__slider::after {
  content: "";
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  left: 0.3rem;
  top: 0.2rem;
  background-color: rgb(254, 150, 150);
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.popup-search__toggle:checked + .popup-search__slider::after {
  transform: translateX(2.7rem);
  background-color: #33a1fd;
}

.popup-search__search-input {
  width: 80%;
  padding: 0.5% 2%;
  border: none;
  background-color: transparent;
  font-size: 2rem;
  color: white;
  outline: none;
}

.popup-search__search-input::placeholder {
  color: white;
  opacity: 0.7;
}

.popup-search__button {
  border: none;
  background: none;
  cursor: pointer;
}

.popup-search__results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 3%;
  width: 70%;
}

.popup__request-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dcc88f;
  border-radius: 7px;
  width: 29%;
  height: 30%;
  padding: 2% 0;
  margin: 1% 2%;
}

.popup__add-friend__button {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  width: 100%;
  justify-content: end;
  margin-right: 10%;
}

.popup__add-friend__icon {
  width: 15%;
  height: 15%;
  border: none;
  background: none;
}
/* -------------------------------------------------------------------------- */
/*                           END Style search popup                           */
/* -------------------------------------------------------------------------- */

#post {
  width: 100%;
}

/* -------------------------------------------------------------------------- */
/*                             BEGIN Style nav bar                            */
/* -------------------------------------------------------------------------- */
nav {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 0.5rem 0.5rem;
  border-bottom: 2px solid #1f2663;
  box-sizing: border-box;
}

.nav-menu {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: start;
}

.nav-menu__item {
  position: relative;
  width: 5rem;
  height: 5rem;
  transition-delay: 0.05s;
}

.nav-menu__item:hover {
  background-color: #dcc88f;
  border-radius: 50%;
}

.nav-menu__button {
  margin: 0 1rem;
  width: 100%;
  height: 100%;
  background: 0 0;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-menu__text {
  font-size: 1.5rem;
  border: none;
  background-color: #dcc88f;
  border-radius: 7px;
  position: absolute;
  color: black;
  visibility: hidden;
  padding: 0.3rem;
  transition-delay: 0.05s;
}

.nav-menu__item:hover {
  .nav-menu__text {
    visibility: visible;
  }
}

.text--friend-request {
  top: 120%;
  left: -4%;
  text-align: center;
}

.text--add-post {
  top: 120%;
  left: 2%;
  text-align: center;
}

.text--search {
  top: 120%;
  left: 5%;
  text-align: center;
}

.nav-logo {
  justify-self: center;
}

.nav-logo__button {
  background: 0 0;
  border: none;
  cursor: pointer;
}

.nav-logo__img {
  width: 40px;
  height: auto;
}

.nav-profile {
  position: relative;
  width: 5rem;
  height: 5rem;
  justify-self: end;
  align-content: center;
  margin-right: 0rem;
  transition-delay: 0.05s;
}

.nav-profile:hover {
  background-color: #dcc88f;
  border-radius: 50%;
}

.nav-profile__button {
  margin: 0 0;
  width: 100%;
  height: 100%;
  background: 0 0;
  border: none;
  cursor: pointer;
}

.text--profile {
  font-size: 1.5rem;
  border: none;
  background-color: #dcc88f;
  border-radius: 7px;
  position: absolute;
  color: black;
  visibility: hidden;
  padding: 0.3rem;
  transition-delay: 0.1s;
  top: 120%;
  left: -10%;
  text-align: center;
}

.nav-profile:hover {
  .text--profile {
    visibility: visible;
  }
}
/* -------------------------------------------------------------------------- */
/*                              END Style nav bar                             */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                             BEGIN Style footer                             */
/* -------------------------------------------------------------------------- */
footer {
  grid-area: 3 / 1 / span 1 / span 1;
}

.elements {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-auto-rows: 25vh;
  align-items: end;
}

.elements-website-title {
  grid-column: 2;
  font-size: 78px;
  margin-bottom: 0.5rem;
}

.elements-website-title sup {
  font-size: 24px;
  font-family: "webpixel-bitmap.bold", "Courier New", monospace;
}

.elements-privacy-policy,
.elements-reserved-rights {
  text-align: center;
  font-family: "webpixel-bitmap.bold", "Courier New", monospace;
  margin: 0 auto;
  font-size: 16px;
  position: relative;
  margin-bottom: 15px;
}

.elements-privacy-policy::after,
.elements-reserved-rights::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 50%;
  background: black;
  border: 1px solid black;
  border-radius: 110px;
  transform: translateX(-50%);
}
/* -------------------------------------------------------------------------- */
/*                              END Style footer                              */
/* -------------------------------------------------------------------------- */
