body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25vh 50vh 25vh;
}

.content {
  grid-area: 2 / 1 / span 1 / span 1;
}

.symbols img {
  width: 6vw;
  height: 13vh;
  opacity: 0.15;
  animation-name: spin;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.symbols {
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  left: 0px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  align-items: center;
  gap: 20px;
  margin: 20px 0 0 0;
  height: 90%;
  width: 100%;
}

.display-box {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(207, 207, 207, 0.5);
  border-radius: 7px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  width: 45%;
}

.display-box__header {
  font-size: 63px;
}

.display-box__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
}

.display-box__input {
  margin: 20px 0;
  border: none;
  padding-left: 10px;
  border-radius: 7px;
  width: 300px;
  height: 55px;
  font-size: 36px;
}

.display-box__input::placeholder { 
  opacity: 0.4;
}

.display-box__button {
  font-size: 36px;
  padding: 5px 10px;
  border-radius: 7px;
  background-color: antiquewhite;
  border: none;
  cursor: pointer;
}

.display-box__redirect-text {
  position: relative;
  margin: 20px 0px 0px 0px;
  font-size: 32px;
}

.display-box__redirect-link {
  font-size: 20px;
  margin: -3px 0px 15px 0px;
}

.display-box__redirect-link:visited {
  color: inherit; 
}
