@font-face {
  font-family: 'webpixel-bitmap';
  src: url('../../assets/fonts/webpixel-bitmap-family/webpixel-bitmap.regular.otf');
  src: url('../../assets/fonts/webpixel-bitmap-family/webpixel-bitmap.black.otf');
  src: url('../../assets/fonts/webpixel-bitmap-family/webpixel-bitmap.bold.otf');
  src: url('../../assets/fonts/webpixel-bitmap-family/webpixel-bitmap.light.otf');
  src: url('../../assets/fonts/webpixel-bitmap-family/webpixel-bitmap.medium.otf');
}

html {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  font-family: 'webpixel-bitmap', 'Courier New', monospace;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 25vh 50vh 25vh;
}